.navbar-container {
  display: flex;
  margin: 0 5%;
  height: 15vh;
  align-items: center;
  flex-direction: row;
}

.grow-list {
  display: flex;
  flex: 1;
}

.list {
  display: flex;
  list-style-type: none;
}

.list-item {
  margin: 0 20px;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
  color: #808080;
}

.list-item:hover {
  color: #1f1f1f;
}

.nav-button {
  color: #ffffff;
  border: none;
  background-color: #7475da;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: "Poppins";
  font-weight: 500;
}

.banner-container > div > img {
  position: absolute;
  right: 0;
  bottom: 10%;
  height: 600px;
}

.heading-text {
  position: absolute;
  margin: 0 5%;
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 500;
  top: 25%;
}

.description {
  position: absolute;
  margin: 0 5%;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
  top: 54%;
  color: #808080;
}

.btn {
  position: absolute;
  margin: 0 5%;
  bottom: 27%;
  padding: 20px 40px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
}

span {
  color: #7475da;
}
